@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

/* general styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #ccc;
    font-family: "Sigmar", sans-serif;
    color: #410387;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    margin: 2% 0 2% 10%;
}

h1 {
    font-size: 1.75rem;
    margin-left: 3%;
}

hr {
    border: 1px solid #fff;
    margin: 0;
    top: 5%;
    left: 50%;
    height: 85%;
    position: absolute;

}

.RPS-logo {
    width: 15%;
    margin-right: 2%;
}

#main-outer-div {
    width: 90%;
    margin-left: 3%;
    display: flex;
}

/* the main gaming area styles */
#game-area {
    position: relative;
    background-color: #7bf9d7;
    border: 2px solid #fff;
    width: 70%;
    min-height: 60vh;
    margin: auto;
    border-radius: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;

}

#play-area {
    background-color: #7bf9d7;
    width: 100%;
    border-radius: 30px;
    display: flex;
}

#player-go,
#computer-go {
    width: 49%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

#player-go {
    justify-content: space-between;
}

#player-go p,
#computer-go p {
    font-size: 1.25rem;
}

#player-choice-img-container,
#computer-choice-img-container {
    display: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#player-choice-img,
#computer-choice-img {
    width: 60%;
}

/* buttons */
#player-buttons {
    width: 10%;
    margin: 2% 2% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.btn-choices {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background: none;
}

.btn-choices img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

/* the scores area styles */
#score-area {
    background-color: #410387;
    border: 2px solid #fff;
    color: #fff;
    width: 70%;
    margin: 2% 0 0 17%;
    padding: 1%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    gap: 32%;
}

/* footer */
footer {
    bottom: 0;
    width: 100%;
    margin-top: 15%;
    background-color: #410387;
    color: #ccc;
    font-size: .5rem;
    padding: 10px;
}