@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

/* general styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #ccc;
    font-family: "Sigmar", sans-serif;
    color: #410387;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    margin: 2% 0 2% 10%;
}

h1 {
    font-size: 1.75rem;
    margin-left: 3%;
    margin-right: 30%;
    flex-grow: 1;
}

p {
    font-size: .75rem;
}

hr {
    border: 1px solid #fff;
    margin: 0;
    top: 5%;
    left: 50%;
    height: 85%;
    position: absolute;

}

.RPS-logo {
    width: 15%;
    margin-right: 2%;
}

#main-outer-div {
    width: 90%;
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* the main gaming area styles */
#game-area {
    position: relative;
    background-color: #7bf9d7;
    border: 2px solid #fff;
    width: 70%;
    height: 100%;
    min-height: 30vh;
    margin: auto;
    border-radius: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;

}

#play-area {
    background-color: #7bf9d7;
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-grow: 1;
}

#player-go,
#computer-go {
    width: 49%;
    padding: 2% 1% 1%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

#player-go {
    justify-content: space-between;
}

#player-go p,
#computer-go p {
    font-size: 1.25rem;
}

#player-choice-img-container,
#computer-choice-img-container {
    display: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#player-choice-img,
#computer-choice-img {
    width: 90%;
}

/* buttons */
#player-buttons {
    width: 10%;
    height: 90%;
    margin: 3% 2% 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn-choices {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background: none;
}

.btn-choices img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

/* the scores area styles */
#score-area {
    background-color: #410387;
    border: 2px solid #fff;
    color: #fff;
    width: 70%;
    margin: 2% 0 0 17%;
    padding: 1%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    gap: 35%;
}

/* footer */
footer {
    bottom: 0;
    width: 100%;
    margin-top: 15%;
    background-color: #410387;
    color: #ccc;
    font-size: .5rem;
    padding: 10px;
}

.copyright {
    font-size: 10px;
}

/* media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.25rem;
        margin-left: 3%;
    }

    .btn-choices {
        box-sizing: border-box;
        width: 60px;
        height: 60px;
        background: none;
    }
}

/* media query: laptops and larger screens (992px and up) */
@media screen and (min-width: 992px) {
    #player-buttons {
        margin: 2% 0 0 0;
    }

    p {
        font-size: 1rem;
    }

    .copyright {
        font-size: 12px;
    }
}

/* media query: largest screens (1280px and up) */
@media screen and (min-width: 1280px) {
    .RPS-logo {
        margin-left: 10%;
    }

    h1 {
        font-size: 2.5rem;
    }
}